.MuiFormControl-root{
    width: 80% !important ;
    margin : 10px !important;
}

.MuiPaper-root{
    margin : 30px !important;
    width: 80%;
    padding : 5px !important;
    background-color: rgb(233, 203, 164) !important;
}

.MuiFormLabel-root{
    font-weight: bold !important;
} 

.RadioGroup{
    border: 1px solid rgba(0, 0, 0, 0.23) !important;
    border-radius: 4px !important;
    padding:4px !important;
}